<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    @if (ViewData["UserState"].ToString() != "|0")
    {
        <div class="header">
            <span>@Html.ActionLink("Garage", "Index", "Garage", null, null)</span> |
            <span>@Html.ActionLink("Sign Out", "SignOut", "Account", null, null)</span>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="footer">
        <div>@Html.ActionLink("Changelog", "Changelog", "Info", null, null)</div>

        <div>Designed, built, and maintained by Daniel DeBoer</div>

        <div>Bug Reports and feature requests at <a href="https://github.com/Dovian/GaslandsTeamBuilderApp/issues">Github</a></div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>