@model GaslandsTeamBuilder.Models.BuildViewModel

<div>
    @if (Model.BuildErrors.Count > 0)
    {
        <h3>Errors</h3>
        foreach (string error in Model.BuildErrors)
        {
            <div class="error">@error</div>
        }
    }
    @Html.HiddenFor(model => model.build.Key, new { id = "buildKey" })

    <br />
    <table id="dashboard" class="displayTable">
        <thead>
            <tr>
                <td>Build Slots</td>
                <td>Can Cost</td>
                <td>Crew</td>
                <td>Handling</td>
                <td>Hull</td>
                <td>Max Gear</td>
                <td>Weight Class</td>
            </tr>
        </thead>
        <tr>
            <td class="number">@Html.DisplayFor(model => model.build.FinalBuildSlots)</td>
            <td class="number">@Html.DisplayFor(model => model.build.FinalCanCost)</td>
            <td class="number">@Html.DisplayFor(model => model.build.FinalCrew)</td>
            <td class="number">@Html.DisplayFor(model => model.build.FinalHandling)</td>
            <td class="number">@Html.DisplayFor(model => model.build.FinalHull)</td>
            <td class="number">@Html.DisplayFor(model => model.build.FinalMaxGear)</td>
            <td>@Html.DisplayFor(model => model.build.FinalWeightClass)</td>
        </tr>
    </table>

    <br />
    <span class="generalInfoSpan">Name: </span>@Html.TextBoxFor(model => model.build.Name)<br />
    <span class="generalInfoSpan">Driver: </span>@Html.TextBoxFor(model => model.build.Driver)<br />
    <span class="generalInfoSpan">Notes: </span>@Html.TextAreaFor(model => model.build.Notes)<br />

    @Html.DropDownListFor(model => model.build.Sponsor.Key, Model.SponsorDropDown, "--Select Sponsor--", new { @onchange = "SaveBuild()" })<br />
    @Html.DropDownListFor(model => model.build.Vehicle.Key, Model.VehicleDropDown, "--Select Vehicle--", new { @onchange = "SaveBuild()" })<br />

    <br />

    <!--All need ids and events on selection-->
    @Html.DropDownList("Perks", Model.PerkDropDown, "--Select Perk--", new { id = "perkSelector", @onchange = "AddPerk()" })<br />
    @if (Model.build.Perks.Count > 0)
    {
        <table class="displayTable">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Cans</td>
                    <td>Effect</td>
                </tr>
            </thead>
            @foreach (var perk in Model.build.Perks)
            {
                <tr>
                    <td>@perk.Name</td>
                    <td class="number">@perk.CanCost</td>
                    <td>@perk.Description</td>
                    @if (perk.CanCost > 0){<td><button class="removePerk" type="button" onclick="RemovePerk(@perk.Key)">X</button></td>}
                </tr>
            }
        </table>
    }
    @Html.DropDownList("Upgrades", Model.UpgradeDropDown, "--Select Upgrade--", new { id = "upgradeSelector", @onchange = "AddUpgrade()" })<br />
    @if (Model.build.Upgrades.Count > 0)
    {
        <table class="displayTable">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Cans</td>
                    <td>Slots</td>
                    <td>Effect</td>
                </tr>
            </thead>
            @foreach (var upgrade in Model.build.Upgrades)
            {
                <tr>
                    <td>@upgrade.Name</td>
                    <td class="number">@upgrade.CanCost</td>
                    <td class="number">@upgrade.BuildSlotCost</td>
                    <td>@upgrade.EffectDisplay</td>
                    <td><button class="removeUpgrade" type="button" onclick="RemoveUpgrade(@upgrade.BuildUpgradeKey)">X</button></td>
                </tr>
            }
        </table>
    }
    @Html.DropDownList("Weapons", new SelectList(Model.WeaponDropDown, "WeaponKey", "ListDisplay"), "--Select Weapon(Cans, Slots)--", new { id = "weaponSelector", @onchange = "ShowFacing()" })
    @foreach (var weapon in Model.WeaponDropDown)
    {
        @Html.DropDownList("Facing", new SelectList(weapon.FacingAllowed.Select(f => new { Value = f, Text = f }), "Value", "Text"), "--Select Facing--", new { id = "facing_" + weapon.WeaponKey, @class = "facings", hidden = "hidden" })
    }
    <button id="addWeaponButton" class="addWeapon" type="button" onclick="AddWeapon()" hidden="hidden">+</button>
    @if (Model.build.Weapons.Count > 0)
    {
        <table class="displayTable">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Cans</td>
                    <td>Slots</td>
                    <td>Attack</td>
                    <td>Ammo</td>
                    <td>Facing</td>
                    <td>Effect</td>
                </tr>
            </thead>
            @foreach (var weapon in Model.build.Weapons)
            {
                <tr>
                    <td>@weapon.Name</td>
                    <td class="number">@weapon.CanCost</td>
                    <td class="number">@weapon.BuildSlotCost</td>
                    <td class="number">@weapon.Attack</td>
                    <td class="number">@weapon.Ammo</td>
                    <td>@weapon.Facing</td>
                    <td>@weapon.SpecialRules</td>
                    <td><button class="removeWeapon" type="button" onclick="RemoveWeapon(@weapon.BuildWeaponKey)">X</button></td>
                </tr>
            }
        </table>
    }

    @if (Model.SpecialRules != null && Model.SpecialRules.Count > 0)
    {
        <h3>Vehicle Rules:</h3>
        if (Model.SpecialRules.Where(sr => sr.Category == "Vehicle").Count() == 0)
        {
            <div>None</div>
        }
        else
        {
            foreach (var rule in Model.SpecialRules.Where(sr => sr.Category == "Vehicle"))
            {
                <div><span class="ruleName">@(rule.Name):</span> @(rule.Description)</div>
            }
        }
        <h3>Weapon Rules:</h3>
        if (Model.SpecialRules.Where(sr => sr.Category == "Weapon").Count() == 0)
        {
            <div>None</div>
        }
        else
        {
            foreach (var rule in Model.SpecialRules.Where(sr => sr.Category == "Weapon"))
            {
                <div><span class="ruleName">@(rule.Name):</span> @(rule.Description)</div>
            }
        }
    }
</div>