@model GaslandsTeamBuilder.Models.GarageViewModel

@{
    ViewBag.Title = "Garage";
}

<h3>Garage</h3>

Teams:
@if (Model.Teams.Count > 0)
{
    <table class="displayTable">
        <thead>
            <tr>
                <td>Name</td>
                <td>Sponsor</td>
                <td>Builds</td>
                <td>Cost</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Sponsor</td>
                <td>
                    @foreach (var build in team.TeamBuilds)
                    {
                        <div>@build.Name - @build.FinalCanCost</div>
                    }
                </td>
                <td class="number">@team.TotalCost</td>
                <td>@Html.ActionLink("Edit", "Team", "Garage", new { key = team.Key }, null)</td>
                <td>@Html.ActionLink("Delete", "DeleteTeam", "Garage", new { key = team.Key }, null)</td>
            </tr>
        }
    </table>
}
<br />
@Html.ActionLink("Add Team", "Team", "Garage", null, null)<br />
<br />

Builds:
@if (Model.Builds.Count > 0)
{
    <table class="displayTable">
        <thead>
            <tr>
                <td>Name</td>
                <td>Sponsor</td>
                <td>Vehicle</td>
                <td>Cost</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @foreach (var build in Model.Builds)
        {
            <tr>
                <td>@build.Name</td>
                <td>@(build.Sponsor != null ? (string.IsNullOrEmpty(build.Sponsor.Name) ? "---" : build.Sponsor.Name) : "---")</td>
                <td>@(build.Vehicle != null ? (string.IsNullOrEmpty(build.Vehicle.Name) ? "---" : build.Vehicle.Name) : "---")</td>
                <td class="number">@build.FinalCanCost</td>
                <td>@Html.ActionLink("Edit", "Build", "Garage", new { key = build.Key }, null)</td>
                <td>@Html.ActionLink("Delete", "DeleteBuild", "Garage", new { key = build.Key }, null)</td>
                <td>@Html.ActionLink("Copy", "CopyBuild", "Garage", new { buildKey = build.Key }, null)</td>
            </tr>
        }
    </table>
}
<br />
@Html.ActionLink("Add Build", "Build", "Garage", null, null)